{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html ng-app="TodoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% if todo_list %}
<div>
    <button>Refresh da list</button>
    <h6>Double-click on a todo to edit it.</h6>

    <div>
        <form>
            <input type="text"/>
            <button>Add!</button>
        </form>
    </div>
    <div>
        <ol>
            {% for todo in todo_list %}
            <li>
                <h4>{{ todo }}</h4>
                <label></label><input type="checkbox"/>
                <button>×</button>
            </li>
            {% endfor %}
        </ol>
    </div>
</div>
{% else %}
    <p>No todo available, or it is broken omfg</p>
{% endif %}

<!-- Omnibus -->
<script type="text/javascript" src="{% static 'omnibus/omnibus.min.js' %}"></script>
<script type="text/javascript" src="{% static 'omnibus/sockjs.min.js' %}"></script>
<script type="text/javascript" src="{% static 'omnibus/json2.min.js' %}"></script>

<!-- TodoApp -->
<script type="text/javascript">
    (function () {
        'use strict';

        var // Attributes
                todos,
                transport,
                endpoint,
                options,
                connection,
                channel;

        todos = {};
        transport = WebSocket;
        endpoint = 'ws://127.0.0.1:4242/ec';
        options = {authToken: '{{ OMNIBUS_AUTH_TOKEN }}'};
        connection = new Omnibus(transport, endpoint, options);
        channel = connection.openChannel('todos');

        connection
                .on(Omnibus.events.CONNECTION_CONNECTED, function (event) {
                    $('.connection').addClass('open').text('Yes');
                })
                .on(Omnibus.events.CONNECTION_AUTHENTICATED, function (event) {
                    $('.identification').addClass('open').text('Yes');
                });

        channel
                .on(Omnibus.events.CHANNEL_SUBSCRIBED, function (event) {
                    $('.channel').addClass('open').text('Yes');
                });
    }());
</script>

</body>
</html>
